<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD 

 Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd 

">
<mapper namespace="xdt.mapping.ChannleMerchantConfigKeyMapper">
	<resultMap id="BaseResultMap" type="xdt.model.ChannleMerchantConfigKey">
		<id column="MERCID" jdbcType="VARCHAR" property="mercid" />
		<result column="MERCHANTKEY" jdbcType="VARCHAR" property="merchantkey" />
		<result column="CHANNLETYPE" jdbcType="VARCHAR" property="channletype" />
		<result column="CREATETIME" jdbcType="VARCHAR" property="createtime" />
		<result column="CREATEUSER" jdbcType="VARCHAR" property="createuser" />
		<result column="MODIFYTIME" jdbcType="VARCHAR" property="modifytime" />
		<result column="MODIFYUSER" jdbcType="VARCHAR" property="modifyuser" />
		<result column="MODIFYREASON" jdbcType="VARCHAR" property="modifyreason" />
	</resultMap>
	<sql id="Base_Column_List">
		MERCID, MERCHANTKEY, CHANNLETYPE, CREATETIME, CREATEUSER, MODIFYTIME,
		MODIFYUSER,
		MODIFYREASON
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from CHANNLE_MERCHANT_CONFIG_KEY
		where MERCID = #{mercid,jdbcType=VARCHAR}
	</select>
	 <insert id="save" parameterType="xdt.model.ChannleMerchantConfigKey">
  	insert into CHANNLE_MERCHANT_CONFIG_KEY (MERCID,MERCHANTKEY,CHANNLETYPE,CREATETIME) 
  	values (#{mercid},#{merchantkey},#{channletype},#{createtime})
  </insert>
</mapper>
